@import "../../../assets/globaVariablelStyle/variable";

.profile__nav {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mobile {
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__avatar {
      display: flex;
      gap: 20px;
      align-items: center;
      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
      & img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 2px 0 10px rgba($color: #000000, $alpha: 0.2);
      }
    }
    & h3 {
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
    }
    &__sub {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0 0 0 20px;

      // @include mobile {
      //   display: none;
      // }
      & p:hover {
        cursor: pointer;
        color: $primary-color;
      }
    }
  }
}

.active {
  color: $primary-color;
}
