@import "../../assets/globaVariablelStyle/_variable.scss";

.productList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__header {
    width: 100%;
    padding: 13px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #e2e2e2;

    @include mobile {
    padding: 10px 10px;

    }
  }
  &__body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    @include mobile {
      grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;

    }
  }
}
