@import "../../../assets/globaVariablelStyle/variable";

.productDetail {
  &__body {
    &__label {
      border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &__item {
        display: flex;
        justify-content: start;
        align-items: center;
        & img {
          transform: scale(0.4);
        }
      }
    }
  }
}
