@import "../../assets/globaVariablelStyle/variable";

.container__profile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px 0;
  width: 1200px;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 20px 10px;
  }
  @include tablet {
    width: 100%;
    padding: 20px 10px;
  }
  & .profile__body {
    grid-column: span 4;
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 2px 0 10px rgba($color: #000000, $alpha: 0.1);
    grid-column: span 4;

    @include mobile {
      padding: 10px;
    }
    @include tablet {
      padding: 10px;
    }
    &__heading {
      font-weight: 400;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;

      &__title {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &__address {
      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        @include mobile {
          flex-direction: column;
        }
        &__detail {
          display: flex;
          flex-direction: column;
          gap: 5px;
          & h3 span:first-child {
            border-right: 1px solid black;
            padding: 0 5px 0 0;
          }
          & h3 span:last-child {
            padding: 0 0 0 5px;
          }
          &__tag {
            display: flex;
            gap: 5px;
          }
        }

        &__action {
          display: flex;
          flex-direction: column;
          gap: 5px;
          text-align: right;
        }
      }
    }
  }
}
