@import "../../../assets/globaVariablelStyle/variable";

.button {
  font-size: 14px;
  padding: 8px 15px;
  background-color: white;
  border: transparent solid 1px;
  outline: none;
  cursor: pointer;
  width: max-content;
  border-radius: 2px;
  text-transform: capitalize;
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  @include mobile {
    padding: 5px;
    font-size: 12px;
  }
}
.primary {
  background-color: $primary-color;
  color: white;
  border: 1px solid $primary-color;
}
.secondary {
  background-color: rgba($color: $primary-color, $alpha: 0.1);
  color: $primary-color;
  border: 1px solid $primary-color;
}
.large {
  font-size: 16px;
  padding: 12px 20px;
  width: 100%;

  @include mobile {
    font-size: 14px;
    padding: 10px;
  }
}
.small {
  font-size: 14px;
  padding: 4px;
}
.disabled {
  cursor: not-allowed;
}
