header{
    background-image: linear-gradient(#ee4d2d,#ff7337);
    color: white;
}
.header__body{
    width: 1200px;
    margin: 0 auto;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}