@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "./assets/globaVariablelStyle/variable";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: #efefef;
}

.container{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 16.667% 83.333%;
}

a{
  text-decoration: none;
  color: black;
}